<!DOCTYPE html>
<html id="htmlId" data-ng-app="myApp" ng-controller="indexController">
<head>
    <meta content="chrome=1" http-equiv="X-UA-Compatible" />
    <title>Task manager</title>
    <link href="css/app.css" rel="stylesheet">
    <link href="css/nud.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div id="navbar" class="navbar-collapse ">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/index">Home</a></li>
            </ul>
        </div>
    </div>
</nav>
<div align="center">

    <div class="container" style="float:left">
        <form class="form-inline">
            <label for="taskSrc">SRC:</label>
            <input id="taskSrc"type="text" class="form-control" ng-model="task.src" />
            <!--Algoritm[SHA_1;SHA_256;MD5]: <input type="text" ng-model="task.algo" /><br />-->
            <label for="taskAlgo">Algoritm:</label>
            <select id="taskAlgo" class="form-control" name="singleSelect" ng-model="task.algo">
                <option value="SHA_1">SHA_1</option>
                <option value="SHA_256">SHA_256</option>
                <option value="MD5">MD5</option>
            </select>
            <button type="submit" class="btn btn-primary" ng-click="newTask(task)">Create</button>
        </form>
    </div>
    <div class="container">
        <div class="tableContainer">
            <div class="tableContainer" style="float:right">
                <!--<button type="submit" class="btn btn-primary" ng-click="pageChanged()">Refresh</button>-->
            </div>
            <hr/>
            <table class="table table-striped table-bordered table-hover list">
                <thead>
                <tr>
                    <th>TaskId</th>
                    <th>UserId</th>
                    <th>SRC</th>
                    <th>Algo</th>
                    <th>Time(ms)</th>
                    <th>Result</th>
                    <th>Error</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="task in tasks">
                    <th>{{ task.id }}</th>
                    <th>{{ task.userId }}</th>
                    <th>{{ task.src }}</th>
                    <th>{{ task.algo }}</th>
                    <th>{{ task.time }}</th>
                    <th>{{ task.result }}</th>
                    <th>{{ task.errorMsg }}</th>
                    <th>{{ task.status }}</th>
                    <th><button type="submit" class="btn btn-info" data-ng-click="stopTask(task.id)">Stop</button></th>
                    <th><button type="submit" class="btn btn-danger" data-ng-click="deleteTask(task.id)">Delete</button></th>
                </tr>
                </tbody>
            </table>
            <uib-pagination total-items="totalItems" items-per-page="pageSize" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
            <hr/>
        </div>
    </div>
    <hr />
    <footer class="footer">
        <h6>{{userId}}</h6>
    </footer>
    <br />
</div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
<!-- Load app main script -->
<script src="/js/app.js"></script>
<!-- Load services -->
<script src="/js/service/taskService.js"></script>
<script src="/js/service/userService.js"></script>
<!-- Load controllers -->
<script src="/js/controller/indexController.js"></script>
</body>
</html>
